<div class="modal-header cdr">
  <h3 class="modal-title cdr" id="modal-title">NAMED ENTITIES</h3>
</div>

<div class="modal-body cdr">

  <div id="namedEntityDefinition">
    <text>
      In information extraction, a named entity is a real-world object, such as a person, a location, an organization, a number etc. ,
      that can be denoted with a proper name.
      It can be abstract or have a physical existence.
      Named entity recognition is a task in information extraction and describes the automatic identification and classification of key information (entities).
      It is a generic term used to categorize a certain number of textual objects encountered in a document.
      An entity can be any word or series of words that consistently refers to the same thing.
      Every detected entity is classified into a predetermined category. <br>
      <br>
      The following will show the available categories and their encoding:
    </text>
  </div>
  <br>
  <div id="namedEntityEncoding">

  </div>

</div>

<div class="modal-footer cdr">
  <button class="btn btn-primary btn-closeModal-cdr" type="button" ng-click="ok()">Ok</button>
</div>
