<div class="modal-header cdr">
  <h3 class="modal-title cdr" id="modal-title">POS-Tag</h3>
</div>

<div class="modal-body cdr" id="modal-body">
  <div id="posTagDefinition">
    <text>
      In corpus linguistics, Part of Speech refers to the process of marking a word in a text (corpus) according to its word type.
      A simplified form of this is usually the marking of words as nouns, verbs, adjectives, adverbs etc.
    </text>
  </div>
  <br>
  <div id="posTagEncoding">
    <text><b>Pos-Tag Encoding:</b></text>

    <div class="row-sm-12 posTagEncodingContainer">
      <div class="col-sm-6" id="leftPosTagEncoding">

      </div>
      <div class="col-sm-6"id="rightPosTagEncoding" >

      </div>
    </div>

  </div>
</div>

<div class="modal-footer cdr">
  <button class="btn btn-primary btn-closeModal-cdr" type="button" ng-click="ok()">Ok</button>
</div>
