<div class="modal-header cdr">
  <h3 class="modal-title cdr" id="modal-title">Sentiment</h3>
</div>

<div class="modal-body cdr" id="modal-body">
  <div id="sentimentDefinition">
    <text>
      Sentiment is a view or opinion that is held or expressed by someone.
      Sometimes it also may refer to feelings and emotions.
      Sentiment analysis (also known as opinion mining) refers to the use of text analysis to study affective states and subjective information.
      A basic task in sentiment analysis is classifying the polarity of a given text at the document, sentence, or feature/aspect level — whether the expressed opinion is: <br>
      <text style="color: green"><b>positive</b></text>, <text style="color: red"><i>negative</i></text>, or neutral.
    </text>
  </div>
  <br>
  <div id="sentimentEncoding">
    <text><b>Sentiment Encoding in Overview:</b></text><br><br>

  </div>
</div>

<div class="modal-footer cdr">
  <button class="btn btn-primary btn-closeModal-cdr" type="button" ng-click="ok()">Ok</button>
</div>
