<div class="modal-header cdr">
  <h3 class="modal-title cdr" id="modal-title">Speaker</h3>
</div>

<div class="modal-body cdr" id="modal-body">
  <div id="speakerDefinition">
    <text>
      In order to be able to analyze which speaker has said what, how often a speaker is in turn or how much a speaker said, the speakers are annotated to their corresponding utterance.
    </text>
  </div>
  <br>
  <div id="speakerEncoding">
    <text><b>Speaker Encoding:</b></text>

    <div id="speakerEncodingContainer">

    </div>
  </div>
</div>

<div class="modal-footer cdr">
  <button class="btn btn-primary btn-closeModal-cdr" type="button" ng-click="ok()">Ok</button>
</div>
