<div class="modal-header cdr">
  <h3 class="modal-title cdr" id="modal-title">WORD FREQUENCIES</h3>
</div>

<div class="modal-body cdr" id="modal-body">
  <div id="wordFreqDefinition">
    <text>
      Word frequency is the count/frequency of each word that appear in a source of textual data.

      A word cloud is the most probable way to visualize those frequencies.
      It is a collection, or cluster, of words with the size and/or color of each word indicating its relative frequency or importance.
      So, the more often a specific words appears in the text, the bigger bolder it appears in the word cloud and can help to identify the overused words.
      A word cloud can also show which topics are being discussed.
      Further it will highlight the jargon and vocabulary which is used.
    </text>
  </div>
</div>

<div class="modal-footer cdr">
  <button class="btn btn-primary btn-closeModal-cdr" type="button" ng-click="ok()">Ok</button>
</div>
